language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

#before_deploy:
#    - curl -L https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz > oc-cli.tar.gz
#    - tar -xzf oc-cli.tar.gz
#    - sudo mv ./openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/local/bin
#
#deploy:
#  - provider: script
#    script: bash deploy_openshift.sh
#    on:
#      branch: master

before_deploy:
  - mvn clean javadoc:aggregate -P javadoc
  - cp -R target/site/apidocs $HOME/javadoc
#  - .travis/push-javadoc-to-gh-pages.sh

deploy:
  provider: pages
  edge: true
  skip_cleanup: true
#  guthub_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: $HOME/javadoc
  on:
    branch: master
