language: java

jdk:
  - oraclejdk8


before_deploy:
    - curl -L https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz > oc-cli.tar.gz
    - tar -xzf oc-cli.tar.gz
    - sudo mv ./openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/local/bin
    on:
      branch: master

deploy:
  - provider: script
    script: bash deploy_openshift.sh
    on:
      branch: master