language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

#before_deploy:
#    - curl -L https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz > oc-cli.tar.gz
#    - tar -xzf oc-cli.tar.gz
#    - sudo mv ./openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/local/bin
#
#deploy:
#  - provider: script
#    script: bash deploy_openshift.sh
#    on:
#      branch: master

before_deploy:
  - mvn clean javadoc:aggregate -P javadoc
  - cp -R target/site/apidocs $HOME/javadoc
#  - .travis/push-javadoc-to-gh-pages.sh
env:
  global:
    # GITHUB_TOKEN
    - secure: "MiG5o0wLqs7s5/5RJ/eOT6yDDlZme3uavUTXfPcblNOGl6IgWBhoLi4qw6EEhKY2eDqJHRlGoVrxu/eHp+ww/S3fjv/iqs3hLiWYLl+sl7MV6EnSJxt/vnELCfYFZjof1IGclC8ee8MO/DtU5R/jAgD4w+SAX5fAfSQ1SsZYjV9DrCHl69GOyzQVS049lf8Ksbi9an2WDXzTTa9iebocWhiqMV8xQ3A9YkePns/kHpsiNH/Wk2GhbXU95UwhRolcXv2rkfshncAY4IkBSQM2PzvUxHk4j1ZtIWeRPdqtdocmvWybadJkz+KOzBopuotxLK2Rgzxn/QzrYg3keZnaUJTk3EnWAc6YOZC0NjcLUIylLjv5eHkN1ZcRXmQcncVxqZOMAuuurxje/ad2qhuZuqhUwRRXvA/E8lJyBv8HvY9I2Ic8if+5uwxT4J/gQSXK4jGaAV4eOx7T7+xW/1IxdZDhzRHGmPrWb9jzfEfxYgoT59V/RZnAiUsvsPuyxYQk/IExkZVOnBLzxPid6DV6l/5cCG8qrKu3a3vz+UGWY2RncyWFGMXcvMdg7ac62XyQWtDmnq+57+ZkzC0R9LDDwaS86SrPNyo6vgjjo8qhKizq4jnxa5WrnAGL/qrylhcuqs5uV/F+f2YTK+TwhMdfjd9lUo9+l3flM8dxIcy4RRg="
deploy:
  provider: pages
  skip_cleanup: true
  guthub_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: $HOME/javadoc
  on:
    branch: master
