language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

#before_deploy:
#    - curl -L https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz > oc-cli.tar.gz
#    - tar -xzf oc-cli.tar.gz
#    - sudo mv ./openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/local/bin
#
#deploy:
#  - provider: script
#    script: bash deploy_openshift.sh
#    on:
#      branch: master

before_deploy:
  - mvn clean javadoc:aggregate -P javadoc
  - cp -R target/site/apidocs $HOME/javadoc
#  - .travis/push-javadoc-to-gh-pages.sh

env:
  global:
    - secure: "WEH60JDTrO/NWNERQmPrm9/gZczz3QpoYfu5nsHtb2Pmjt9T2SZYIhgLf1dkswP/LYlc2xaZ7hakm1SDNYyOrsIx1ToqxOKbWtZSNoo7H0zgBhMuij4r7RE6zUPohnY5khtCbRGHh1keIDjviCurm5UsOnZCMcvc3Jp1Pw9rf5NFzOyERjNShv/mjcPbSQ2yXjA2WXLRv/J4XqFK/54R0W7Oe7ATQ0p/WgLJcqQ6JIJBlIZ0rCUOLif8lJE4Ny4mifXTQ7Y9ti0bdsw+ZCf7OI5rgq9jSfMpi6GC0xGsU/d7ic8tWOB7I1PvCagaPbl4IVz/qNx+JECKIadZR1mWbM1b1Eez2KZDjXaC9lWUI5QzLkN6cLMXtK0s3iURrLIjJy+tHPj6pEZNWxBepldfRMwbrWYiFJOceYpIrRUCkvZhNyKCIfv+OOunNM5+BwpJ8BG4Z8UBVtuGFnlEVe9RRZOJA9bab0tYRCUt82uMMffMvqVhEmMUSn1kT7FHtZg7fdqVA+RFy6RCK4cX4wryQMhw7Asf+qfm9pE4LqQL5yazCrq2joFjJSYj0SRY4ag4k8f8gqaw4+Px/0y8FI/I044ds/7x/haTGAfRoqL3DbYh+B/rJyY0wC6IWiWqD1CjJ3SFRMlqcxpUxDfhMEyYqAKV8mnA45/DTYjSV43HMvQ="

deploy:
  provider: pages
  edge: true
  skip_cleanup: true
  github_token:
    - secure: $GITHUB_TOKEN
  keep_history: true
  local_dir: target/site
  on:
    branch: master
