language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

#before_deploy:
#    - curl -L https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz > oc-cli.tar.gz
#    - tar -xzf oc-cli.tar.gz
#    - sudo mv ./openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/local/bin
#
#deploy:
#  - provider: script
#    script: bash deploy_openshift.sh
#    on:
#      branch: master

env:
  global:
    # GH_TOKEN
    - secure: "l1lztX6Efe5YPQmQxjxgsus6XCe/Xt+BGLveOv3it76poMqqRE3UTuVEQhQyxOpgj3zDde2yDTVqZNjFPgTKHKAVb2CTP26yGc7m2c0t9kfTO8wi/u0OspsQdy/DGggc2G45yw97EdpCdylPHyxyzih5lNgLNSSxI8fKWIgohVemcH1R+SKNXf9/VdxO5XxHvgqoM2au2xEzcLxZFgfsG47+WZKgMjlsPIswLGz+UoNRcCF3rh7vTJnmXuA6ijqnFp+jQRaA2eSeMALXxsjxEO1goRpsuevjN3+jMw06EbzlhdY4aY4g6oVV1X775Djjz5LlLEmYDN578rRDR12cQNIpHd6kvkX6emAbQMHnTUsE280DI+DeJ20x+KNmRd6Dqx0mNebSlSMwoOs4dzxEcGwX4HF35bYifixlX+mPm1ZN/H9BUykLbyWUeofQyTJJNS4QrRSzaA5YPBoCCYgrXfs8Xq3Ezw07FxBLnEdA62arwd85Uoj5H5q5oNPX1UxRUBLJZ2rCtcb79yDpP0UFoLJ6VJzYFmgVa7ZtbfHWGGzsjVOvBlhKVvps0g0IZ1OWzv0YgzC/rrfaFIng7tCRCYhN/3HasNircdJJtXrxxL6WDuh9Pu9Bkq3SjijR/Dy7pX3SCtxWamUPyo6kl+tZadMLEWf9gUFjzNcg0AnnaRQ="
after_success:
  - mvn clean javadoc:aggregate -P javadoc
  - .travis/push-javadoc-to-gh-pages.sh
