language: java

jdk:
  - openjdk8

sudo: required

services:
  - docker

#before_deploy:
#    - curl -L https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz > oc-cli.tar.gz
#    - tar -xzf oc-cli.tar.gz
#    - sudo mv ./openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit/oc /usr/local/bin
#
#deploy:
#  - provider: script
#    script: bash deploy_openshift.sh
#    on:
#      branch: master

env:
  global:
    # GH_TOKEN
    - secure: "L21xhV4zbcITXYLkDZ/GnqwqJbY5asbDrkai6ZeWjpXbk5qe7hOWzVK9ItR8hsjV1bsZs+j1Ey8v4BOg4W4mmEj4It0UYv5VO5iOo32dS6EJNVN+3WJ3glOTx3x3O9r/cv8pt2VLHFKUvNsQVURL9vTZ3MOTe6piXv+4I0C4uG5XGI1/KlFo4MN2ncfshXrgJEMuICxOpk2hJa7euuWIx1l/UZOiOKM8v8LWF/MVpQSo6WvPNWE6aukhHjDUc+QGin9zncsdrcW7dqmDiAN9c8c71JsD8mh4fKE2vAVup7SzELv5Nf2lY1sLx9l9B/LvymyUL12kRm7aY/jQK+ffC4Nao//FUVIV0yOxxmABVNiA3pBEVVgftwdNPH+/wte6JvtNzP7gJFOX7Cksk3jjSQCm771hGGwAkBmeF5tSXEPgcgHDfySpeP1Fsst0DZXiHA7ZhDnvkPePKFbUexxcFItSojE5Cl31AQo1bvFfpQhaz3Lg/nBw1p3kqNUIc+2MuFDPVU6Kq+tyxNuLUCGdO204+KSLrIEBEzpcFYWz10KcXaAyLVcoCpvQw9PP9t3VZeKUg/M8u2G7WwmB9gtXZjpU3V9qejSecZAZhkCs6R/Xlp5P/MmzxUc8lYr4EdbhODjbuPOTMFmVKGTm5zwr5ifpQj6/GegJUWuC0enXgjo="
after_success:
  - mvn clean javadoc:aggregate -P javadoc
  - .travis/push-javadoc-to-gh-pages.sh
